* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #0f1115;
  position: relative;
  padding-left: 60px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: inherit;
  width: 100%;
  padding: 0 45px 0 0;
  margin: 30px 0;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo img {
  height: 60px;
}
.logo a {
  color: #fff;
  height: 60px;
  font-size: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo a p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  margin-left: 10px;
}
.search {
  display: flex;
  align-items: center;
  border-radius: 14px;
  background-color: rgb(43, 43, 56);
  margin-left: 20px;
  padding: 20px 25px;
  width: 23%;
  position: relative;
}
.search__result {
  border-radius: 15px;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  background-color: rgb(43, 43, 56);
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-height: 600px;
  overflow: auto;
  z-index: 9999;
  box-shadow: inset 0 0 25px 0 #54364073, 0 0 25px 0 #5436409a;
}
.search_img {
  width: 75px;
  height: 75px;
  border-radius: 15%;
  margin: 10px;
}
.search__result li {
  padding: 5px;
  display: flex;
  cursor: pointer;
  align-items: center;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 15px;
  transition: all 0.5s ease;
}
.search__result li:hover {
  background-color: #5436409a;
  transition: all 0.5s ease;
}

.search input {
  border: none;
  outline: none;
  background-color: inherit;
  color: rgba(255, 255, 255, 0.527);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman";
  font-size: 22px;
  padding-left: 8px;
  font-weight: 300;
  max-width: 100%;
}
.search i {
  color: rgba(255, 255, 255, 0.26);
  font-size: 20px;
  margin-right: 5px;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: Start;
}
.genre {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: inherit;
  padding: 20px;
  color: #fff;
  position: sticky;
  top: 0;
  left: 0;
  width: 250px;
  max-height: 100vh; /* Maksimum hündürlük */
  overflow-y: auto; /* Şaquli scroll aktiv edilir */
}

/* Scrollbar dizaynı */
.genre::-webkit-scrollbar {
  width: 0px;
}

.genre::-webkit-scrollbar-thumb {
  background: rgba(168, 168, 168, 0.5);
  border-radius: 8px;
}

.genre::-webkit-scrollbar-thumb:hover {
  background: rgba(75, 54, 54, 0.8);
}

.genre h1 {
  font-weight: 500;
}
.movie_main {
  background-color: #54364034;
  /* background-image: url(images/slider-banner.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 56px;
  padding: 36px 0px 36px 36px;
  width: 80vw;
}

.genre_li {
  color: #fff;
  margin: 8px 0;
  font-size: 24px;
  font-family: Verdana, Geneva, Tahoma;
  font-weight: 100;
}
.genre_ul a {
  color: rgba(128, 128, 128, 0.24);
  transition: all 0.7s ease;
}

.genre_ul a:hover {
  color: rgb(255, 255, 255);
}

/* Scrollbar genişliğini ayarla */
::-webkit-scrollbar {
  width: 10px; /* Dikey scroll */
  height: 16px; /* Yatay scroll */
  border-radius: 8px;
  /* transition: ease 0.3s ease-in-out; */
}

/* Scrollbar arka planına resim ekle */
::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #54364034;
  /* background: url("your-image-url.jpg") no-repeat center center; */
  background-size: cover; /* Resmin tamamını göster */
}

/* Scrollbar'ın kaydırma çubuğu */
::-webkit-scrollbar-thumb {
  background: rgba(168, 168, 168, 0.5); /* Kaydırma çubuğu rengi */
  border-radius: 8px;
}

/* Kaydırma çubuğuna hover efekti */
::-webkit-scrollbar-thumb:hover {
  border-radius: 8px;
  background: rgba(75, 54, 54, 0.8);
}

/* ________________________________________________________ */

.movies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(290px, 100%), 1fr));
  margin: 60px 0;
}
.movie {
  width: 90%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif,
    Geneva, Tahoma, sans-serif;
  background-color: rgba(43, 43, 56, 0);
  transition: all 0.5s ease;
}
.movie :hover {
  transition: all 0.5s ease;
  background-color: rgba(43, 43, 56, 0.5);
  border-radius: 26px;
}

.movie_image {
  width: 276px;
  height: 415px;
  object-fit: cover;
  border-radius: 26px;
}
.movie_title {
  color: #fff;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 10px;
}
.movie_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 14px 0;
  color: hsla(0, 0%, 100%, 0.504);
}

.movie_info > p {
  background-color: #ffffff1c;
  padding: 4px;
  border-radius: 6px;
  margin-top: 6px;
  font-size: 16px;
  font-weight: 100;
  font-style: normal;
}
.movie_info i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 100;
  font-style: normal;
}
.movie_info i p {
  margin-top: 8px;
  font-weight: 100;
  font-style: normal;
}

.mySwiper {
  width: 80vw;
  height: 83vh;
  border-radius: 26px;
  position: relative;
}
.swiper-wrapper {
  background: linear-gradient(
    180deg,
    rgba(18, 31, 72, 0.259) 60%,
    #1d191e 100%
  );
}

.mySwiper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 26px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}


.swiper-slide a h1 {
  color: #fff;
}
.swiper-slide a p {
  color: #fff;
}
.swiper-slide button {
  text-decoration: none;
  color: #fff;
}

button{
  background-color: #ff1414;
  border: none;
  border-radius: 10px;
  padding: 8px;
  margin-top: 10px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}



.most_watched {
  display: block;
}
.h1{
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif, Times, serif;
font-style: normal;
font-size: 32px;
color: #fff;
margin: 30px 0 30px 20px !important;
width:  75vw;
}
.most_h1{
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif, Times, serif;
font-style: normal;
font-size: 32px;
color: #fff;
margin: 30px;
}
.mySwiper_most_watched .swiper-wrapper .swiper-slide {
  /* background: linear-gradient(
    180deg,
    rgba(50, 0, 252, 0.5) 0%,
    rgba(0, 0, 0, 0.098) 90%,
    rgba(0, 0, 0, 0) 100%
  ); */
  max-width: 95% !important;
  border-radius: 18px;
}

.btn {
  background-color: #ff1414;
  border: none;
  padding: 18px 60px;
  border-radius: 10px;
  margin-top: 40px;
  font-size: 24px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
}
.btn i {
  margin-right: 20px;
}
.slider{
  width: 76vw;
  height: 83vh;
  border-radius: 26px;
  position: relative;
}
.width{
  width: 100%;
}
.main_slider_background h1 {
  color: #fff;
  font-size: 70px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
}
.main_slider_text {
  margin: 200px 0 0 80px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  z-index: 999 !important;
  text-shadow: #000000 2px 2px 2px;
}
.main_slider_text div {
  display: flex;
  align-items: center;
  text-shadow: #000000 0px 1px 1px;
  font-size: 24px;
  font-weight: 100;
}

.main_slider_text div p {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
  text-shadow: #000000 1px 1px 2px;
  margin: 50px 0;
}
.main_slider_text > p {
  margin-top: 10px;
  font-size: 20px;
  color: #ffffffaf !important;
  width: 50%;
  text-shadow: #ffffff 2px 2px px !important ;
}
.main_slider_text div pre {
  border: 1px solid #00000065;
  margin: 0 10px;
  border-radius: 4px;
  color: #fff;
  background-color: #85858586;
  padding: 2px;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.pagination li {
  border: 1px solid #ffffff1a;
  border-radius: 20%;
  padding: 7px;
  cursor: pointer;
  color: rgba(255, 166, 0, 0.384);
}
.pagination li.active {
  background-color: rgba(255, 166, 0, 0.384);
  color: #fff;
}
.pagination li:hover {
  background-color: rgba(255, 255, 255, 0.384);
  color: #fff;
  transition: all 0.5s ease;
}
.mySwiper_most_watched {
  width: 80vw;
  /* height: 400px; */
}
.most_watcher_image {

object-fit: cover;
  height: 371px;

}
.most_watcher_slide {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.most_watcher_slide img {
  width: 100%;
  /* height: 300px; */
  object-fit: cover;
  border-radius: 20px;
}
.most_watcher_title {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif, Times, serif;
  font-style: normal;
  font-size: 20px;
  color: #fff;
  margin: 10px 4px;
}
.most_watcher_info {
  display: flex;
  align-items: center;
  margin: 0 4px;
}
.most_watcher_info > p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif, Times, serif;
  font-style: normal;

  background-color: #8f7b9459;
  border-radius: 4px;
  padding: 6px;
}
.most_watcher_info i {
  /* height: 100%; */
  width: 100%;
  display: flex;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif, Times, serif;
  font-style: normal;

  font-size: 20px;
  font-weight: 100;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after , .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {

  content: 'prev';
  color: #ff141486;
}
.most_watcher_info i p {
  margin-top: 6px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif, Times, serif;
  font-style: normal;
}
.most_watcher_info img {
  height: 30px;
  width: 30px;
  object-fit: cover;
}
.dg {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr));
}


.genre_movies_title{
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif, Times, serif;
  font-style: normal;
  color: #fff;
  font-size: 46px;
}
.genres_movies{
  max-width: 95%;
  overflow: hidden;
}